/* Estilos para la tarjeta */

/* --earls-green-50: #fafde9;
--earls-green-100: #f2fcc5;
--earls-green-200: #eafa8e;
--earls-green-300: #e4f74d;
--earls-green-400: #e3f31c;
--earls-green-500: #dde30f;
--earls-green-600: #bdb40a;
--earls-green-700: #9c880c;
--earls-green-800: #816b12;
--earls-green-900: #6e5715;
--earls-green-950: #402f08; */



.product-col{
  margin-bottom: 20px
}

.product-card {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 20px;

  height: 400px;
  
  /* display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px; */
}

.card-image {
  width: 100%;
  height: 57.5%;
  margin-bottom: 10px;
  /*
  object-fit: cover;
  border-radius: 4px;
  margin-right: 10px; */
}

.card-title {
  font-size: 175%;
  cursor: pointer;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-rating{
  display: flex;
  align-items: center;

  margin-top: 5px;
}

.card-count{
  margin-left: 5px;
  font-size: 100%;
  color: #7c7c7c;
  margin: 0;
}

.card-price {
  font-size: 150%;
}

.boton-agregar {
  background-color: #dde30f;
  color: #242424;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  width: 100%;
  font-weight: 700;
}

.boton-agregar:hover{
  background-color: #bdb40a;
}

.boton-quitar {
  background-color: #9c880c;
  color: #242424;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  width: 100%;
  font-weight: 700;
}

/* Estilos para el carrito */
.carrito {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
