/* --- NO ITEMS --- */

.no-items-container{
    width: 100vw;
    height: 450px;
    transition: 0.3s ease;
}

.no-items-container h5{
    text-align: center;
    font-size: 300%;
    font-weight: 700;
    color: white;
    font-style: italic;
    background-color: black;
    padding: 15px 0;
    margin-top: 20px;
    width: 100%;
}

.no-items-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
}

.no-items-content h6{
    font-size: 250%;
    color: black;
    font-weight: 700;
    margin: 30px 0;
}

.no-items-content button{
    border: 2px solid black;
    background-color: black;
    color: white;
    padding: 12.5px 17.5px;
    font-weight: 500;
}

.no-items-content button:hover{
    background-color: white;
    color: black;
}

/* --- ITEMS --- */

.items-container{
    margin-bottom: 10px;
    transition: 0.3s ease;
}

.items-container h5{
    text-align: center;
    font-size: 300%;
    font-weight: 700;
    color: white;
    font-style: italic;
    background-color: black;
    padding: 15px 0;
    margin-top: 20px;
}

.item-card-container{
    border: 1px solid grey;
    box-shadow: 0 0 5px grey;
    background-color: white;
    color: black;

    margin: 10px 0;
}

.item-card-container:hover{
    box-shadow: 0 0 10px grey;
    transition: 0.3s ease;
}

.item-card-img{
    border-right: 1px solid rgb(195, 195, 195);
    width: 100%;
    height: 100%;
    max-height: 190px;

    padding: 10px;
}

.item-card-content{
    margin: 20px 20px 20px 0;
    font-size: 100%;
    font-weight: 500;
}

.item-card-title{
    font-size: 125%;
    font-weight: 700;
    margin-bottom: 10px;
}

.item-card-price{
    font-size: 110%;
    font-weight: 600;
    font-style: italic;
}

/* BUTTONS */

.button-suma-resta{
    border: 1px solid black;
    background-color: black;
    color: white;

    padding: 8px 11px;

    font-weight: 700;
}

.button-suma-resta:hover{
    background-color: white;
    color: black;
}

.button-cant{
    border: 1px solid black;
    background-color: black;
    color: white;
    margin: 0 10px;

    padding: 8px 20px;
}

.button-delete{
    font-weight: 700;
    background-color: black;
    color: white;
    border: 1px solid black;

    padding: 8px 25px;
    float: inline-end;

    margin-right: 10px;
}

.button-delete:hover{
    border: 1px solid red;
    background-color: white;
    color: red;
}

/* CART PAY */

.cart-pay-container{
    background-color: white;
    color: black;

    margin: 10px 0;
    padding: 25px;

    border: 1px solid grey;
    box-shadow: 0 0 5px grey;
}

.cart-pay-container:hover{
    box-shadow: 0 0 10px grey;
    transition: 0.3s ease;
}

.cart-pay-container h6{
    font-size: 300%;
    font-weight: 700;
    text-align: center;
    font-style: italic;
}

.items-title p{
    font-size: 150%;
    font-weight: 700;
}

.items-title ul{
    margin-bottom: 35px;
}

.button-pay-container{
    text-align: center;
}

.button-pay{
    color: white;
    background-color: black;
    border: 1px solid black;
    padding: 10px 25px;
}

.button-pay:hover{
    background-color: white;
    color: black;
}

/* --- MEDIA --- */

@media(max-width: 991.5px){
    .item-card-img{
        margin-top: 10px;
        padding: 10px 50px;
        border: none;
    }

    .item-card-content{
        margin: 20px 35px;
    }

    .cart-pay-container h6{
        font-size: 250%;
    }

    .items-title{
        font-size: 85%;
    }
}

@media(max-width:767.5px){
    .item-card-container{
        margin-bottom: 20px;
    }

    .item-card-img{
        padding: 10px 100px;
    }

    .items-container h5{
        font-size: 250%;
    }

    .cart-pay-container{
        margin-top: 0;
    }

    .button-suma-resta:hover{
        background-color: black;
        color: white;
    }

    .item-card-container:hover{
        box-shadow: 0;
    }    

    .button-delete:hover{
        border: 1px solid black;
        background-color: black;
        color: white;
    }

    .button-pay:hover{
        background-color: black;
        color: white;
    }

    .cart-pay-container:hover{
        box-shadow: 0;
    }
}

@media(max-width:767.5px){
    .no-items-container h5{
        font-size: 200%;
    }
    .no-items-content h6{
        font-size: 175%;
    }

    .no-items-content{
        padding: 0 50px;
        text-align: center;
    }
}