/* --- BANNER TITLE --- */

.productos-title{
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 300%;
    font-style: italic;
    padding: 15px 0;
    background-color: #242424;
    margin: 30px 0;
}

/* --- SHOP BANNER ---*/

.shop-banner-img{
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}

.shop-banner-logo{
    width: 65px;
}

/* --- MEDIA --- */

@media(max-width:1199.5px){
    .productos-title{
        margin-top: 15px;
    }

    .shop-banner-logo{
        width: 60px;
    }
}

@media(max-width: 991.5px){
    .productos-title{
        font-size: 250%;
    }

    .shop-banner-logo{
        width: 55px;
    }
}

@media(max-width: 575.5px){
    .productos-title{
        font-size: 200%;
        margin: 10px 0;
    }

    .shop-banner-logo{
        width: 50px;
    }
}