#product-col{
  margin-bottom: 20px
}

.product-card { 
  background-color: #242424;
  color: white;
  padding: 20px;
  height: 460px;
  box-shadow: 0 0 5px grey;

  transition: 0.3s ease;
}

.product-card:hover{
  box-shadow: 0 0 10px #242424;
}

.card-image {
  box-shadow: 0 0 3px white;
  border-radius: 10px;
  width: 100%;
  height: 55%;
  margin-bottom: 10px;
}

.card-title {
  font-size: 175%;
  cursor: pointer;

  white-space: inherit; 
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-link{
  color: white;
  text-decoration: none;
}

.card-rating{
  display: flex;
  align-items: center;

  margin-top: 5px;
}

.card-count{
  margin-left: 5px;
  font-size: 100%;
  color: #7c7c7c;
  margin: 0;
}

.card-price {
  font-size: 150%;
}

.boton-agregar {
  background-color: #dde30f;
  color: #242424;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  width: 100%;
  font-weight: 700;
}

.boton-agregar:hover{
  border: 2px solid #dde30f;
  background-color: #242424;
  color: #dde30f;
}

.boton-quitar {
  border: 2px solid #dde30f;
  background-color: #242424;
  color: #dde30f;
  padding: 5px 10px;
  cursor: pointer;
  width: 100%;
  font-weight: 700;
}

/* Estilos para el carrito */
.carrito {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


/* --- MEDIA --- */

@media (max-width: 1399.5px){
  .product-card{
    height: 450px;
  }
}

@media (max-width: 1199.5px){
  .product-card{
    font-size: 90%;
    height: 440px;
  }

  .card-image{
    height: 200px;  
  }
}

@media (max-width: 991.5px){
  .product-card{
    font-size: 70%;
    height: 350px;
    padding: 12.5px;
  }

  .card-image{
    height: 150px;  
  }

  .card-rating{
    display: block;
  }
}

@media (max-width: 767.5px){
  .product-card{
    font-size: 90%;
    height: auto;
    min-height: 39  0px;
    padding: 20px;
  }
  
  .product-card:hover{
    box-shadow: none;
  }

  .card-title{
    font-size: 150%;
  }

  .boton-agregar:hover{
  border: none;
  background-color: #dde30f;
  color: #242424;
}

  .card-image{
    height: 200px; 
  }

  .card-rating{
    display: flex;
  }

  .card-count{
    font-size: 85%;
  }
}

@media (max-width: 575.5px){
  #product-col{
    padding: 0 5px !important;
    margin-bottom: 10px;
    font-size: 80%;
  }

  .cards-container{
    margin: 0 10px;
  }

  .card-image{
    height: 125px;
  }

  .card-count{
    display: none;
  }
}