/* --- TREND CARD --- */

.trend-card-container{
    width: 100%;
    background-color: #242424;
    height: auto;
    color: white;

    margin: 20px 0;
}

.trend-product-title{
    font-size: 300%;
    font-style: italic;
    font-weight: 700;
    text-align: center;

    margin-top: 50px;
}

.trend-product-title i{
    font-size: 90%;
    transform: skewX(-20deg);
    color:#dde30f;
}

.trend-card-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.trend-card-img{
    margin-top: 20px;

    width: 80%;
    height: 300px;

    border-radius: 15px;
    box-shadow: 0 0 5px yellow;
}

.trend-card-content{
    padding: 50px 30px;
    padding-right: 50px;
}

.trend-card-title{
    font-weight: 700;
    margin-bottom: 20px;
}

.trend-card-rating{
    display: flex;
}

.trend-card-count{
    margin-left: 10px;
}

.trend-card-price{
    font-size: 150%;
}

.trend-card-description{
    text-align: justify;
}

.trend-card-button-container{
    position: relative;
    height: 50px;
}

.trend-boton-agregar {
    width: 100%;
    background-color: #dde30f;
    color: #242424;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 700;
}

.trend-boton-agregar:hover{
    border: 2px solid #dde30f;
    background-color: #242424;
    color: #dde30f;
}

.trend-boton-quitar {
    width: 100%;
    border: 2px solid #dde30f;
    background-color: #242424;
    color: #dde30f;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 700;
}

/* --- MEDIA --- */

@media (max-width: 1199.5px){
    .trend-card-description{
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 991.5px){
    .trend-card-description{
        -webkit-line-clamp: 5;
    }

    .trend-product-title{
        margin-left: 20px;
    }

    .trend-card-img{
        margin-left: 20px;
        height: 225px;
    }

    .trend-card-title{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 767.5px){
    .trend-product-title{
        margin-left: 0;
        margin-top: 30px;
        font-size: 250%;
    }

    .trend-card-img{
        margin-left: 0;
        width: 70%;
    }

    .trend-card-title{
        text-align: justify;
    }

    .trend-card-content{
        padding: 30px 40px;
        padding-top: 50px;
    }
}